<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" routerLink=".">{{title}}</a>
</nav>

<div class="container">
    <ul ngbNav [(activeId)]="activeId" class="nav nav-pills nav-justified mb-4">
        <li [ngbNavItem]="1" class="nav-item">
            <a ngbNavLink routerLink="/books" class="nav-link">Books</a>
        </li>
        <li [ngbNavItem]="2" class="nav-item">
            <a ngbNavLink routerLink="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li [ngbNavItem]="3" class="nav-item">
            <a ngbNavLink routerLink="/books/new" class="nav-link">New Book</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>